<h1>Edit your recipe</h1>
<form method="post" action="/recipes/<%=@recipe.id%>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
<p>Name: <input type="text" name="name" placeholder="<%=@recipe.name%>"> </p> 
<p>Ingredients: <input type="text" name="ingredients" placeholder="<%=@recipe.ingredients%>"> </p> 
<p>Cook Time: <input type="text" name="cook_time" placeholder="<%=@recipe.cook_time%>"> </p> 
<input type="submit" name="submit">
</form>