<%#binding.pry%>
<form method="POST" aciton="/recipes/<%= @recipe.id %>">
    <label>Recipe Name: </label>
    <textarea type="text" name="name" value="<%= @recipe.name %>"></textarea>
    <label>Ingredients List: </label>
    <textarea type="text" name="ingredients" value="<%= @recipe.ingredients %>"></textarea>
    <label>Cook Time: </label>
    <textarea type="text" name="cook_time" value="<%= @recipe.cook_time %>"></textarea>
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit">
</form>
   
<%# id="content" type="text" name="recipe[]" %>