<form method="POST" action="/recipes">
<h2>Recipe Name:<input type="text" name="name"> </h2>
<h2>Recipe Ingredients:<textarea type="text" name="ingredients"></textarea></h2>
<h2>Estimated Cooktime:<input type="text" name="cook_time"> </h2>
<input type="submit" value="submit" id="submit">
</form>