<%#binding.pry%>
<%# <form method="POST" aciton="/recipes">
    Recipe Name: <input id="name" type='text' name="name">
    Ingredients List: <input id='ingredients' type='text' name="ingredients">
    Cook Time: <input type='text' id='cook_time' name="cook_time">
    <input id="submit" class="submit" type="submit" value="submit">
</form> %>

<form method="POST" action="/recipes">
  
  <label for="name">Name</label>
  <input type="text" id="name" name="name" />

  <label for="ingredients">Ingredients</label>
  <input type="text" id="ingredients" name="ingredients" />

  <label for="cook_time">Cook Time</label>
  <input type="text" id="cook_time" name="cook_time" />

  <input type="submit" value="submit" />
</form>