<%#binding.pry%>
<form method="POST" aciton="/recipes">
    Recipe Name: <input id="name" type='text' name="name">
    Ingredients List: <input id='ingredients' type='text' name="ingredients">
    Cook Time: <input type='text' id='cook_time' name="cook_time">
    <input id="submit" type="submit">
</form>