  
<h1>Create a New Recipe</h1>
<form action="/recipes" method="POST">
<h3>Enter the following:</h3>
<p>
<label>Name:</label></br>
<input type="text" name = "name" id = "name"></br>
<label>Recipe:</label> </br>
<input id="ingredients" type="text" name="ingredients"></br>
<label>Cook Time:</label></br>
<input type="text" name = "cook_time" id = "cook_time"></br>
</p>
<input type="submit" id="Submit">
</form>
